<a href="https://colab.research.google.com/github/ksoliman/DataCamp/blob/master/Copy_of_Project_Demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project Demo

This demo is designed to provide some general tips and tricks for the ITDS Fall 2019 project. For full details on the project, please refer to [the project requirements](https://grantmlong.com/teaching/fall2019/project/Project-ITDS-Fall-2019.pdf).

***
This demo uses `scikit-learn`, but by no means are you required to use this or any other particular package.

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

%matplotlib inline

In [0]:
train_df = pd.read_csv('https://grantmlong.com/data/SE_rents2018_train.csv', index_col=0)
test_df = pd.read_csv('https://grantmlong.com/data/SE_rents2018_test1.csv', index_col=0)
submit1_df = pd.read_csv('https://grantmlong.com/data/SE_rents2018_test2.csv', index_col=0)
submit2_df = pd.read_csv('https://grantmlong.com/data/SE_rents2018_test3.csv', index_col=0)

In [0]:
train_df.sample(5).transpose()
#bbl and bin helps w city data

rental_id                                                         7134850  ...                                            7150303
addr_unit                                                              #3  ...                                               #615
building_id                                                       1282774  ...                                                457
bedrooms                                                                2  ...                                                  0
bathrooms                                                               1  ...                                                  1
size_sqft                                                             800  ...                                                645
created_at                                            2018-05-01 15:34:58  ...                                2018-05-05 14:55:15
addr_street                                               22-18 47 STREET  ...                                     55 WALL STREET
addr_city                                                         Astoria  ...                                           New York
addr_zip                                                            11105  ...                                              10005
addr_lat                                                          40.7695  ...                                            40.7058
addr_lon                                                         -73.9025  ...                                           -74.0093
bin                                                           4.01452e+06  ...                                        1.00083e+06
bbl                                                            4007680058  ...                                         1000277501
floor_count                                                             3  ...                                                  9
year_built                                                           1965  ...                                               1836
min_to_subway                                                      8.3333  ...                                             0.6833
has_doorman                                                             0  ...                                                  1
has_elevator                                                            0  ...                                                  1
has_fireplace                                                           0  ...                                                  0
has_dishwasher                                                          0  ...                                                  1
is_furnished                                                            0  ...                                                  0
has_gym                                                                 0  ...                                                  1
allows_pets                                                             0  ...                                                  1
has_washer_dryer                                                        0  ...                                                  0
has_garage                                                              0  ...                                                  0
has_roofdeck                                                            0  ...                                                  1
has_concierge                                                           0  ...                                                  1
has_pool                                                                0  ...                                                  0
has_garden                                                              0  ...                                                  0
has_childrens_playroom                                                  0  ...                                                  0
rent                                                                 1975  ...                                               3975
no_fee                                                                  0  ...                                                  1
description             Very nice updated apartment.\r\nBright and cle...  ...  Welcome to Cipriani! Currently tenant occupied...
neighborhood                                                      Astoria  ...                                 Financial District
borough                                                            Queens  ...                                          Manhattan
unit                                                                    3  ...                                                615
floornumber                                                             3  ...                                                  6
line                                                                  NaN  ...                                                 15

[38 rows x 5 columns]

#### Build training data

In [0]:
# extract usable features
feature_cols = [
    'bedrooms', 'year_built', 'bathrooms', 'min_to_subway', 
    'size_sqft', 'no_fee', 'has_doorman'
]
train_features = train_df[feature_cols] 

# impute missing values with medians
train_features = train_features.fillna(train_features.median(), axis=0)

# construct target vector
train_target = train_df['rent']

#### Fit model

In [0]:
lreg = LinearRegression()
lreg.fit(train_features, train_target)

#### Predict and Measure Using Test 1

In [0]:
test_features = test_df[feature_cols] 

# impute missing values with medians
test_features = test_features.fillna(train_features.median(), axis=0)

# construct predictions 
test_df['predicted'] = lreg.predict(test_features)

mean_squared_error(test_df['rent'], test_df['predicted'])

#### Combine Data, Predict Values for Test 2

In [0]:
master_df = train_df.append(test_df, sort=False)

master_features = master_df[feature_cols].fillna(master_df[feature_cols].median(), axis=0)
master_target = master_df['rent']

lreg.fit(master_features, master_target)

#### Create Submission File for `test2`

In [0]:
submit1_features = submit1_df[feature_cols].fillna(master_df[feature_cols].median(), axis=0)
submit1_df['predictions'] = lreg.predict(submit1_features)
submit1_df['predictions'].to_csv('sample_submission1.csv', header=True)

submit1_df['fake_rent'] = np.ones(submit1_df['predictions'].shape) * master_target.median()
mean_squared_error(submit1_df['predictions'], submit1_df['fake_rent'])

#### Create Submission File for `test3`

In [0]:
submit2_features = submit2_df[feature_cols].fillna(master_df[feature_cols].median(), axis=0)
submit2_df['predictions'] = lreg.predict(submit2_features)
submit2_df['predictions'].to_csv('sample_submission2.csv', header=True)

submit2_df['fake_rent'] = np.ones(submit2_df['predictions'].shape) * master_target.median()
mean_squared_error(submit2_df['predictions'], submit2_df['fake_rent'])